.underline {
    text-decoration: underline;
    color: #EBE4DA;
}

.text-tengah {
    color: #527A6F;
    font-family: 'Public Sans';
    text-align: left;
}

.arrow {
    width: 20%;
    display: inline;
    margin-left: 70px;
}

.topbar {
    text-decoration: #EBE4DA;
}

.peta {
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    float: right;
    width: 50%;
}

.text-contact{
    padding-top: 50px;
    color: #B8B6B6;
    font-family: 'Public Sans';
    padding-bottom: 50px;
}