.Footer-bar {
    padding-top: 100px;
    position: relative;
    bottom: 0px;
    width: 100%;
}

.warna {
    font-family: 'Public Sans';
    color: #EBE4DA; 
    font-size: small;
    list-style-type: none;
}

.div-tengah {
    display: flex;
}

.text-foot {
    font-size: smaller;
}

.cont-footer {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.cont-footer-mobile {
  display: none;
  visibility: hidden;
  align-items: center;
}

@media (max-width: 480px) {
    .cont-footer {
        display: none;
        visibility: hidden;
    }

    .text-foot {
        display: flex;
        text-orientation: upright;
    }

    .cont-footer-mobile {
      display: inline;
      visibility: visible;
    }

    .responsive-text-footer {
      display: flex;
      text-align: center;
      justify-content: center;
      
      
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    /* Styles for tablets and smaller screens */
    .text-foot {
      font-size: 14px !important;
    }

    .cont-footer {
        display: block;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1200px) {
    /* Styles for desktop and medium-sized screens */
    .text-foot {
      font-size: 16px !important;
    }
  }
  
  @media (min-width: 1201px) {
    /* Styles for larger screens like 1920x1080 */
    .text-foot {
      font-size: 20px !important;
    }
    .cont-footer {
      padding-left: 300px;
    }
  }