.Footer-bar {
    padding-top: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.warna {
    font-family: 'Public Sans';
    color: #EBE4DA; 
    font-size: small;
    list-style-type: none;
}