.bg-myBg {
    background-color: #527A6F;
    color: #EBE4DA;;
    
}

.warna {
    padding-top: 7px;
    font-family: 'Public Sans';
    color: #EBE4DA;
   
    
}

.link-mati {
    text-decoration: none;
}

.link-aktif1 {
    text-decoration-color: #EBE4DA;
}
.link-aktif2 {
    text-decoration-color: #EBE4DA;
}

.link-aktif3 {
    text-decoration-color: #EBE4DA;
}

.link-aktif4 {
    text-decoration-color: #EBE4DA;
}

.link-aktif5 {
    text-decoration-color: #EBE4DA;
}

.lighter {
    filter: brightness(100%)
}

.darken-image {
    filter: brightness(50%)
}

.warna-brand {
    color: #EBE4DA; 
}


.text {
    padding-top: 50px;
    color: #527A6F;
    padding-left: 50px;
    font-family: 'Public Sans';
    padding-bottom: 50px;
   
}

.text-2 {
    padding-top: 50px;
    color: #527A6F;
    text-align: center;
    font-family: 'Public Sans';
    padding-bottom: 50px;
   
}

.text-content {
    color: #527A6F;
    font-size: medium;
    font-family: 'Public Sans';
    padding-bottom: 50px;}

    
.text-content-3 {
    color: #527A6F;
    font-size: small;
    font-family: 'Public Sans';
}


.text-content-4 {
    color: #527A6F;
    font-size: medium;
    font-family: 'Public Sans';
}

.text-content-2 {
    font-weight: bold;
    color: #527A6F;
    font-size: medium;
    font-family: 'Public Sans';
    }
/* 
.card-gambar {
    display: flex;
    align-items: center;
    padding: auto;
    margin: auto;
} */


.text-card-judul {
    font-weight: bold;
    color: #527A6F;
    font-family: 'Public Sans';
}

.text-card {
    text-align: justify;
    font-size: small;
    color: #527A6F;
    font-family: 'Public Sans';

}
