
@media screen and (max-width: 768px) {
    
    .center-atas{
        position: relative;
        font-family: 'Public Sans';
        text-align: center;
        margin-top: -90px;

    }

    .center-atas .media-q { /* Luxuri & west */
    
        text-align: center;
        font-size: 15px;
        position: relative;
        padding-top: 0px;
        font-family: 'Public Sans';
        padding-bottom: 5px;
    }

    .center-atas .media-tulisankecil {
        text-align: center;
        font-size: 7px;
        position: relative;
        padding-top: 0px;
        font-family: 'Public Sans';
        padding-bottom: 5px;
    }


    .center-atas .media-e {
        text-align: center;
        font-size: 13px;
        position: relative;
        padding-top: 0px;
        font-family: 'Public Sans';
        padding-bottom: 5px;
    }

    .center-atas a {
        font-size: 10px;
        width: 20px;
        height: 20px;
    }

    .tengah .responsive-nesta {
        display: block;
    }

    .tengah .gambar-nesta {
        margin-top: -50px;
        width: 100%;
        display: block;
    }

    .tengah .judul-nesta {
        display: block;
        font-size: 20px;
    }


    .tengah .text-content {
        margin-top: -25px;
        margin-bottom: 25px;
        font-size: 10px;
    }

    .tengah .text-content-2 {
        margin-left: -7px;
        font-weight: bold;
        font-size: 10px;
        padding-bottom: 10px;
    }

    .tengah .text-content-3 {
        margin-left: -7px;
    }


    .bawah {
        margin-top: -100px;
    }

    .bawah .judul-nesta {
        margin-top: -45px;
        margin-left: -25px;
        justify-content: start;
        font-size: 16px;
    }

    .bawah .text-content-4 {
        margin-left: -25px;
        font-size: 8px;
    }

    .bawah .gambar-peta{
        width: 0%;
    }

    
    .bawah .gambar-peta-responsive {
        margin-left: -20px;
        justify-content: center;
        align-items: center;
        width: 180%;
        padding-bottom: 60px;
    }

    .bawah .gambar-kecil {
        margin-left: -45px;
        width: 50%;
    }

    .bawah .text-kecil {
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 10px;
        font-weight: 100;
        font-size: 9px;
    }

    .bawah .text-2 {
        justify-content: center;
        text-align: center;
        margin-top: -120px;
        font-size: 15px;
    }
    
}

